@import '../../assets/_variables.scss';

.cases {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: $white2;
  margin-bottom: 65px;

  @media (max-width: $breackpoint_mobile) {
    font-size: 21px;
    margin-bottom: 45px;
  }
}


@media (max-width: $breackpoint_mobile) {
  .cases {
    max-width: $breackpoint_mobile;
  }
}