@import '../../assets/_variables.scss';

.cases {
  width: 1240px;
  @media (max-width: $breackpoint_xl) {
    width: 1000px;
  }

  @media (max-width: $breackpoint_l) {
    width: 700px;
  }

  @media (max-width: $breackpoint_m) {
    width: 500px;
  }

  @media (max-width: $breackpoint_s) {
    width: 375px;
  }

  @media (max-width: $breackpoint_mobile) {
    width: 325px;
    margin-left: 25px;
  }
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: $white2;
  margin-bottom: 65px;

  @media (max-width: $breackpoint_mobile) {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 45px;
  }
}


@media (max-width: $breackpoint_mobile) {
  .cases {
    max-width: $breackpoint_mobile;
  }
}