@import '../../assets/_variables.scss';

.categories_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  flex-wrap: wrap;

  @media (max-width: $breackpoint_l) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    column-gap: 8px;
    row-gap: 17px;
  }

  @media (max-width: $breackpoint_s) {
    row-gap: 10px;
  }

  @media (max-width: $breackpoint_mobile) {
    margin-bottom: 40px;
  }
}

.category {
  font-family: $fira-sans;
  border-radius: 7px;
  padding: 0 29px;
  height: 49px;
  box-shadow: 8px 15px 29px 0 rgba(23, 27, 44, 0.41);
  background: $button;
  border: none;
  font-weight: 400;
  font-size: 24px;
  color: $white2;

  @media (max-width: $breackpoint_xl) {
    padding: 0 20px;
  }

  @media (max-width: $breackpoint_l) {
    padding: 0;
    width: 100%;
  }

  @media (max-width: $breackpoint_m) {
    font-size: 18px;
  }

  @media (max-width: $breackpoint_s) {
    font-size: 14px;
    height: 33px;
    font-family: $open-sans;
  }

  @media (max-width: $breackpoint_mobile) {
    font-size: 12px;
    font-family: $open-sans;
  }
}

.active {
  background: $button-active;
  font-family: $fira-sans;
  border-radius: 7px;
  padding: 0 29px;
  height: 49px;
  box-shadow: 8px 15px 29px 0 rgba(23, 27, 44, 0.41);
  border: none;
  font-weight: 400;
  font-size: 24px;
  color: $white2;

  @media (max-width: $breackpoint_xl) {
    padding: 0 20px;
  }

  @media (max-width: $breackpoint_l) {
    padding: 0;
    width: 100%;
  }

  @media (max-width: $breackpoint_m) {
    padding: 0;
    font-size: 18px;
  }

  @media (max-width: $breackpoint_s) {
    height: 33px;
    font-size: 14px;
    font-family: $open-sans;
  }

  @media (max-width: $breackpoint_mobile) {
    font-size: 12px;
    font-family: $open-sans;
  }

}

.category:hover {
  background: rgba(177, 177, 177, 0.219);
}