@import '../../assets//variables';

.header {
  padding-top: 65px;
  display: grid;
  grid-template-columns: 131px 1fr;
  width: 1240px;

  @media(max-width: $breackpoint_xl) {
    width: 1000px;
  }

  @media(max-width: $breackpoint_l) {
    width: 700px;
  }

  @media(max-width: $breackpoint_m) {
    width: 500px;
  }

  @media(max-width: $breackpoint_s) {
    width: 375px;
  }
}

.logo {
  @media(max-width: $breackpoint_mobile) {
    margin-left: 25px;
  }
}

.navigation_list {
  margin-left: 191px;
  display: flex;
  gap: 60px;

  @media(max-width: $breackpoint_l) {
    margin-left: 100px;
    gap: 30px;
  }

  @media(max-width: $breackpoint_l) {
    display: none;
  }
}

.navigation_element {
  color: $white;
  font-weight: 400;
  font-size: 18px;
}

.burger_menu {
  display: none;
  background-color: transparent;
  width: 32px;
  border: none;
  justify-self: end;
  margin-right: 25px;

  @media(max-width: $breackpoint_l) {
    display: inline-block;
  }

  @media(max-width: $breackpoint_mobile) {
    display: inline-block;
  }
}

.breadcrumbs {
  margin-top: 65px;
  margin-bottom: 130px;

  @media(max-width: $breackpoint_mobile) {
    margin: 46px 0 29px 25px;
  }
}