@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$white: #fff;
$button-active: #2d76f9;
$button: #313341;
$white2: #eef3ff;
$breadcrumbs: #9aa8ba;
$breadcrumbsAccent: #c4d2e3;
$burger: #24252f;


$rubik-font: 'Rubik', sans-serif;
$fira-sans: "Fira Sans", sans-serif;
$open-sans: "Open Sans", sans-serif;


$breackpoint_desktop: 1920px;
$breackpoint_mobile: 375px;
$breackpoint_xl: 1255px;
$breackpoint_md: 1050px;
$breackpoint_s: 786px;
$breackpoint_sm: 550px;