@import './assets//variables';

body {
  background: linear-gradient(180deg, #24252f 0%, #31313f 36.46%, #242530 100%);
  width: 100%;
  height: 2559px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $open-sans;
  padding-top: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}